<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Carrinho de compras</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    </head>

    <body>

        <script>
            var app = angular.module("meuCarrinho", [])
            app.controller("meuControl", function($scope){
                $scope.produtos = ["Camisa", "Blusa"];
                $scope.adicionar = function() {

                    $scope.erro = "";

                    if(!$scope.meAdicione) { return; }

                    if($scope.produtos.indexOf($scope.meAdicione) == -1) {
                       $scope.produtos.push($scope.meAdicione); 
                    }
                    else {
                        $scope.erro = "O item já existe no carrinho!"
                    }      
                }
                $scope.remover = function(item) {
                    $scope.produtos.splice(item, 1);
                    $scope.erro = ""
                }
            })
        </script>

        <div ng-app="meuCarrinho" ng-controller="meuControl">
            <ul>
                <li ng-repeat="produto in produtos">
                    {{ produto }} <span ng-click="remover($index)"> | x</span>
                </li>
            </ul>

            <input type="text" ng-model="meAdicione">

            <button ng-click="adicionar()">
                Incluir no carrinho
            </button>
            <p>{{ erro }}</p>
        </div>
    </body>
</html>